fastapi
pymongo
python-dotenv
certifi
pydantic
uvicorn
langchain
langchain-openai
langgraph
tavily-python
openai
authlib
passlib
python-jose
email-validator
itsdangerous
python-multipart
aiosmtplib
cloudinary